* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: black;
}

body {
  height: 100vh;
  width: 100vw;
}

canvas {
  margin: 0;
  padding: 0;
  cursor: grab;
}

.showup {
  animation: aparecer 14s linear;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}

.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 100;
  pointer-events: none;
}

.crosshair-loading {
  border-style: dashed;
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: 60px;
  right: 40px;
  z-index: 100;
}